# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# =====================
# VS Code
# =====================
.vscode/*
!.vscode/settings.json

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# C++ & CMake
# =====================
# Ignore the entire build directory where CMake puts binaries and object files
build/

# Catch-all for compiled files just in case they leak out of the build folder
*.o
*.out
*.so
*.a
*.exe

# Standard CMake temporary files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
